/* CSS Reset Sederhana */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Agar padding dan border masuk dalam width elemen */
}

body {
  font-family: sans-serif;
  line-height: 1.6;
  width: 600px; /* Lebar body 600px */
  margin: 0 auto; /* Body menjadi rata tengah */
}

header {
  background-color: #f4f4f4;
  padding: 20px;
  text-align: center;
}

nav ul {
  list-style: none;
  margin-top: 20px;
  text-align: center; /* Rata tengah menu di layar kecil */
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

main {
  padding: 20px;
}

section {
  margin-bottom: 20px;
}

footer {
  background-color: #333333; /* Background footer #333333 */
  color: #fff; /* Warna teks footer putih */
  text-align: center;
  padding: 10px;
  position: relative;
  bottom: 0;
  width: 100%;
}

/* Responsive Design dengan Media Queries */
@media (max-width: 600px) {
  body {
    width: 90%; /* Lebar body menjadi 90% dari lebar layar */
  }

  nav ul li {
    display: block; /* Tampilan menu vertikal di layar kecil */
    margin: 10px 0;
  }

  main {
    padding: 10px;
  }

  .container {
    flex-direction: column; /* Item ditampilkan vertikal */
  }

  .item {
    width: 100%; /* Item mengambil lebar penuh */
  }
}

img {
  max-width: 100%;
  height: auto;
  display: block;
 }






